@tailwind base;
@tailwind components;
@tailwind utilities;

@media screen and (max-width: 1399px) {
  .container-responsive {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .chart {
    border-bottom: 1px solid black;
  }
}
